<div class="container mt-5">
        <div class="row">
            <div class="col-10">
                <label  class="form-label" for="customFile">Default file input example</label>
                <input type="file" class="form-control" id="customFile" (change)="onFileChange($event)" accept=".xls,.xlsx,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
            </div>
            <div class="col-2 mt-4">
                <button class="btn mt-2 btn-primary" type="submit" (click)="onSubmitFile($event)">Subir archivo</button>
            </div>
        </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <app-table-data-file></app-table-data-file>
                </div>
            </div>
        </div>
    </div>
</div>