<div class="modal-header">
    <h4 class="modal-title">Eliminar registro</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
        <div class="col-12">
            <h4 class="text-primary">¿Deseas eliminar el registro?</h4>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
    
    <button type="button" class="btn btn-primary" (click)="closeAcept()">Aceptar</button>
  </div>
  